.contactUsWindow {
    // border: 2px solid green;
    width: 100%;
    min-height: 41rem;
    height: 100vh;
    display: flex;


    >.left {
        // border: 2px solid red;
        width: 50%;
        display: grid;
        place-content: center;
        border-right: 1px solid rgba(128, 128, 128, 0.439);

        >p {
            font-size: 5rem;


            font-family: 'Open Sans', sans-serif;

            >span {

                font-family: 'Archivo', sans-serif;
            }
        }

    }

    >.right {
        // border: 2px solid blue;
        width: 50%;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0rem 2rem;

        >h3 {
            color: rgb(230, 176, 132);
            font-size: x-large;
        }

        >.contactDetails {
            // border: 2px solid green;
            font-size: medium;

            >p {
                // border: 2px solid red;
                color: gray;
                padding: .25rem 0rem;



                >span {
                    font-weight: bold;
                    color: black;
                }
            }
        }

        >form {
            // border: 2px solid green;
            height: 25rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;


            >div {
                // border: 2px solid green;
                display: flex;



                >div {
                    // border: 2px solid blue;
                    margin-right: 2rem;

                    >div {
                        // border: 2px solid red;
                        padding: .25rem;

                        >label {
                            >span {
                                color: orangered;
                            }
                        }

                    }


                    >input {
                        padding: 1rem .5rem;
                        width: 17rem;
                        border: 1px solid black;

                        &:focus {
                            outline: none;
                        }
                    }



                }


            }

            >:nth-child(2) {
                // border: 2px solid red;
                display: flex;
                flex-direction: column;
                width: 82%;

                >div {
                    padding: .25rem 0rem;


                    >label {
                        >span {
                            color: orangered;
                        }
                    }
                }

                >textarea {
                    // border: 1px solid black;
                    padding: .5rem;

                    &:focus {
                        outline: none;
                    }
                }


            }


            >button {
                background-color: black;
                color: white;
                letter-spacing: 2px;
                font-weight: bold;
                width: 13rem;
                padding: 1rem 1.5rem;
                border: 2px solid transparent;


                &:hover {
                    color: black;
                    background-color: white;
                    border: 2px solid black;
                }

            }
        }



    }
}