@import '../../style/_template';

@import url($fonts);

.newArrivalsBar {
    // border: 2px solid green;
    width: 80%;
    margin: auto;
    text-align: center;

    >h1 {
        font-size: 3rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
    }

    >.newArrivalsProdcutBar {
        // border: 2px solid green;
        display: flex;
        justify-content: center;
        padding: 2rem;

        >div {
            border: 1px solid black;
            padding: .5rem 1rem;
            font-family: "roboto";
            margin: 0rem .5rem;

            &:hover {
                border: 1px solid orangered;
                cursor: pointer;
            }
        }
    }

    >.arrivalsProducts {
        // border: 2px solid red;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 30px 0px;
        gap: 20px 0px;
        place-items: center;


        >.arrivalProduct {
            text-decoration: none;
            // border: 2px solid blue;
            width: 85%;
            height: 20rem;

            &:hover {
                cursor: pointer;

                >.productPhoto>.addToCart {
                    display: inline;
                    opacity: 100;
                    transition: .3s all;

                }
            }

            >.productPhoto {
                // border: 2px solid green;
                width: 100%;
                height: 15rem;
                // background-image: url('../../../public/Ap.jpg');
                background-size: cover;
                background-position: center;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                >.ItemTag {
                    width: fit-content;
                    padding: 0.2rem 1rem;
                    margin-top: 1.2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: black;
                    color: white;

                }

                >.addToCart {
                    background-color: black;
                    color: white;
                    padding: 1rem;
                    font-family: 'roboto';
                    font-size: medium;
                    opacity: 0;

                }

                >img {
                    width: 100%;
                }
            }

            >.nameANdPrice {
                font-family: 'roboto';
                font-weight: 400;
                color: gray;
                font-size: 1.1rem;

                >p {
                    margin: 12px;
                }

                >span {
                    color: black;

                }
            }
        }
    }




}


@media (max-width : 786px) {
    .newArrivalsBar {
        >.arrivalsProducts {
            display: flex;
            flex-direction: column;
        }
    }
}